.bg-blue {
    background-color: blue;
}

.bg-white {
    background-color: white;
}

.bg-green {
    background-color: green;
}

.bg-red {
    background-color: red;
}

.bg-yellow {
    background-color: yellow;
}

.bg-black {
    background-color: black;
}

.bg-gray {
    background-color: gray;
}

